{% load static %}

<!DOCTYPE html>

<html>
    <header>
        <title>Adhytia - Mahasiswa, Programmer</title>
        <link href="{% static 'css/story3.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"/>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    </header>

    <body>
        <!-- Navigation bar -->
        <nav class="navbar navbar-expand-sm navBarBackground navbar-light" style="width: 100%; position:fixed; z-index: 99;">
            <div class="container">
                <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="mainNav" class="collapse navbar-collapse" >
                    <div class="navbar-nav">
                        <a id="nav-beranda" class="nav-item nav-link" href="{% url 'beranda' %}">Beranda</a>
                        <a id="nav-riwayat" class="nav-item nav-link" href="{% url 'riwayat' %}">Riwayat</a>
                        <a id="nav-skill" class="nav-item nav-link" href="{% url 'skill' %}">Skills</a>
                        <a id="nav-tentang" class="nav-item nav-link" href="{% url 'tentang-saya' %}">Tentang Saya</a>
                    </div>
                </div>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>