{% extends 'navbar.html' %}
{% load static %}

<!DOCTYPE html>

<html>
    <header>
        <title>Adhytia - Mahasiswa, Programmer</title>
        <link href="{% static 'css/story3.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"/>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    </header>

    <body>
        {% block content %}
        
        <!--Bagian riwayat pendidikan-->
        <div class="container-fluid bg paddingtop60">

            <div class="row paddingtop20">
                <div class="col-sm text-center">
                    <h2>Pendidikan</h2> 
                </div>
            </div>
            
            <div class="row my-auto">
                <div class="col-md-2 text-center marginleft80 paddingtop20">
                    <img class="fotopendidikan" src="{% static 'assets/ui.png' %}" alt="universitas indonesia">
                </div>
                
                <div class="col-sm my-auto paddingtop20">
                    <h5 class="textWhenSmallLeftCenter">Mahasiswa Ilmu Komputer - Universitas Indonesia</h5>
                    <h5 class="textWhenSmallLeftCenter">IPK Saat ini : **</h5>
                </div>
                
                <div class="text-center my-auto paddingtop20">
                    <h5 class="hideWhenSmall marginright80">Agustus 2018 - </h5>
                    <h5 class="hideWhenSmall marginright80">sekarang</h5>
                </div>
            </div>

            <!--pendidikan SD-SMA -->
            <div class="row">
                <div class="col-md-2 text-center marginleft80 paddingtop20 my-auto">
                    <img class="fotopendidikan" src="{% static 'assets/tut wuri.png' %}" alt="tut wuri">
                </div>
                
                <div class="col-sm my-auto paddingtop20">
                    <h5 class="textWhenSmallLeftCenter">SMAN 05 Kota Bengkulu, Provinsi Bengkulu</h5>
                    <h5 class="textWhenSmallLeftCenter">SMPN 01 Kota Bengkulu, Provinsi Bengkulu</h5>
                    <h5 class="textWhenSmallLeftCenter">SDN 02 Kota Bengkulu, Provinsi Bengkulu</h5>
                </div>
                
                <div class="text-center my-auto paddingtop20">
                    <h5 class="hideWhenSmall marginright80" >2015 - 2018</h5>
                    <h5 class="hideWhenSmall marginright80">2012 - 2015</h5>
                    <h5 class="hideWhenSmall marginright80">2006 - 2012</h5>
                </div>
            </div>
        </div>

        <!--Bagian pengalaman-->
        <div class="container-fluid bgwhite paddingtop80">

            <div class="row paddingtop20">
                <div class="col-sm text-center">
                    <h2>Pengalaman</h2> 
                </div>
            </div>

            <div class="row paddingtop20">
                <div class="col-md-2 text-center marginleft80 my-auto">
                    <img class="icon" src="{% static 'assets/organisasi.png' %}" alt="organisasi">
                </div>
                
                <div class="col-sm my-auto paddingtop20 marginleft40">
                    <h5 class="textWhenSmallLeftCenter">Asisten Dosen Matematika Diskrit 1</h5>
                    <h5 class="textWhenSmallLeftCenter">PJ Wira Usaha Himpunan Mahasiswa Bumi Raflesia</h5>
                    <h5 class="textWhenSmallLeftCenter">PJ Humas Publikasi Studi Islam Awal Kuliah Next-Generation</h5>
                    <h5 class="textWhenSmallLeftCenter">Mentor Agama Penerimaan Mahasiswa Baru</h5>
                    <h5 class="textWhenSmallLeftCenter">Staff Divisi Media FUKI Fasilkom UI</h5>
                    <h5 class="textWhenSmallLeftCenter">Staff Divisi Desain Dokumentasi MTQ UI</h5>
                </div>
                
                <div class="text-center my-auto paddingtop20">
                    <h5 class="hideWhenSmall marginright80">2019</h5>
                    <h5 class="hideWhenSmall marginright80">2019</h5>
                    <h5 class="hideWhenSmall marginright80">2019</h5>
                    <h5 class="hideWhenSmall marginright80">2019</h5>
                    <h5 class="hideWhenSmall marginright80">2019</h5>
                    <h5 class="hideWhenSmall marginright80">2019</h5>
                </div>
            </div>
        </div>
        {% endblock content %}
    </body>
</html>