{% extends 'navbar.html' %}
{% load static %}

<!DOCTYPE html>
<html>
    <header>
        <title>Skills</title>
        <link href="{% static 'css/story3.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"/>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    </header>

    <body>
        {% block content %}
        <!--Bagian hardskill-->
        <div class="container-fluid bg paddingtop60">
            <div class="row paddingtop20">
                <div class="col-sm text-center">
                    <h2 class="font-italic">Hard Skills</h2> 
                </div>
            </div>

            <div class="row my-auto paddingtop20">
                <div class="col-md-2 text-center marginleft80 paddingtop20">
                    <img class="icon" src="{% static 'assets/hardskills.png' %}" alt="hardskills">
                </div>
                
                <div class="col-sm my-auto paddingtop20">
                    <h3 class="font-italic textWhenSmallLeftCenter">Programming</h3>
                    <h5 class="textWhenSmallLeftCenter">Java</h5>
                    <h5 class="textWhenSmallLeftCenter">Kotlin</h5>
                    <h5 class="textWhenSmallLeftCenter">Python</h5>
                    <h5 class="textWhenSmallLeftCenter">HTML</h5>
                    <h5 class="textWhenSmallLeftCenter">CSS</h5>
                    <h5 class="textWhenSmallLeftCenter">Android Studio</h5>
                </div>
                
                <div class="col-sm paddingtop20">
                    <h3 class="font-italic hideWhenSmall marginright80">Editing</h3>
                    <h5 class="hideWhenSmall marginright80">Adobe Illustrator</h5>
                    <h5 class="hideWhenSmall marginright80">Adobe Photoshop</h5>
                    <h5 class="hideWhenSmall marginright80">Adobe XD</h5>
                    <h5 class="hideWhenSmall marginright80">Adobe After Effect</h5>
                </div>
            </div>
        </div>

        <!--Bagian softskills-->
        <div class="container-fluid bgwhite paddingtop80">

            <div class="row paddingtop20">
                <div class="col-sm text-center">
                    <h2 class="font-italic">Soft Skills</h2> 
                </div>
            </div>

            <div class="row my-auto paddingtop20">
                <div class="col-md-2 text-center marginleft80 paddingtop20">
                    <img class="icon" src="{% static 'assets/softskills.png' %}" alt="softskills">
                </div>
                
                <div class="col-sm my-auto paddingtop20">
                    <ul>
                        <li><h5>Komunikatif</h5></li>
                        <li><h5>Kolaboratif</h5></li>
                        <li><h5>Kreatif</h5></li>
                    </ul>
                </div>

                <div class="col-sm my-auto paddingtop20">
                    <ul>
                        <li><h5>Persuasif</h5></li>
                        <li><h5>Inovatif</h5></li>
                        <li><h5>Intuitif</h5></li>
                    </ul>
                </div>
            </div>
        </div>

         <!--Bagian pencapaian-->
        <div class="container-fluid bg paddingtop80">
            <div class="row paddingtop20">
                <div class="col-sm text-center">
                    <h2>Pencapaian</h2> 
                </div>
            </div>

            <div class="row paddingtop20">
                <div class="col-md-2 text-center marginleft80 my-auto">
                    <img class="icon" src="{% static 'assets/pencapaian.png' %}" alt="pencapaian">
                </div>
                
                <div class="col-sm my-auto paddingtop20 marginleft40">
                    <h5 class="textWhenSmallLeftCenter">Juara 3 Mobile Apps Competition Plan Internasional Indonesia</h5>
                    <h5 class="textWhenSmallLeftCenter">Juara 1 Karya Tulis Ilmiah FUKI Quranic Olympiad</h5>
                    <h5 class="textWhenSmallLeftCenter">Juara 1 Cerdas Tangkas Fisika POIF</h5>
                    <h5 class="textWhenSmallLeftCenter">Juara 1 Cerdas Tangkas MIPA</h5>
                    <h5 class="textWhenSmallLeftCenter">Juara 1 Cerdas Tangkas Kimia PIK</h5>
                </div>
                
                <div class="text-center my-auto paddingtop20">
                    <h5 class="hideWhenSmall marginright80">2019</h5>
                    <h5 class="hideWhenSmall marginright80">2018</h5>
                    <h5 class="hideWhenSmall marginright80">2017</h5>
                    <h5 class="hideWhenSmall marginright80">2017</h5>
                    <h5 class="hideWhenSmall marginright80">2017</h5>
                </div>
            </div>
        </div>
        {% endblock content %}
    </body>
</html>