{% extends 'navbar.html' %}
{% load static %}

<!DOCTYPE html>

<html>
    <header>
        <title>Adhytia - Mahasiswa, Programmer</title>
        <link href="{% static 'css/story3.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"/>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    </header>

    <body>
        {% block content %}
        <!--Bagian tentang saya-->
        <div class="container-fluid bg paddingtop60">
            <div class="row">             
                <div class="col-md-3">
                    <img id="fototentangsaya" src="{% static 'assets/foto.png' %}" width="" alt="foto diri">
                </div>
                <div class="col-md my-auto" style="margin-left: 50px;">
                    <h2 class="padding">Tentang Saya</h2> 

                    <h5 class="lead paddingtop20">Saya lahir di Bengkulu, 14 desember 1999. Saya sekarang sedang berkuliah di 
                            jurusan Ilmu Komputer Universitas Indonesia. Saya senang mempelajari hal 
                            baru, terutama yang terkait dengan dunia teknologi dan pemrograman. 
                            Selain pemrograman, saya juga bisa desain, khususnya menggunakan 
                            aplikasi Adobe Illustrator dan juga Adobe Photoshop.</h5>

                    <h5 class="lead paddingtop20">Kamu dapat menghubungi saya di     :</h5>
                    <h5 class="lead" style="margin-top: 0px; margin-bottom: 0;">Telp : 0895367455503</h5>
                    <h5 class="lead" style="margin-top: 0px; margin-bottom: 0;">Email : adit.14.12.99@gmail.com</h5>
                </div>
            </div>
        </div>
        {% endblock content %}
    </body>
</html>